$primary: #392321;
$secondary: #462b29;
$tertiary: #97736f;
$quaternary: #906d6a;
$info: #ffc107;
$danger: #ff547b;
$success: #079ea2;
$grey: rgba(0, 0, 0, 0.5);
$colors: (
	"primary": $primary,
	"secondary": $secondary,
	"tertiary": $tertiary,
	"quaternary": $quaternary,
	"info": $info,
	"danger": $danger,
	"success": $success,
	"grey": $grey,
);

$bg-main: #fffbf0;

$text-content: #555;
$text-strong: #212529;
